#score{
    font-size: 30px;
    float:left;
    margin-left: 30px;
}
#timer{
    font-size: 30px;
    float: right;
    margin-right: 30px;
}
#task{
    color: darkblue;
}

h1{
    color: teal;
    background-color: cyan;
}

#show_sketch
{
    float: right;
    color: rgb(255, 255, 255);
    background-color: teal;
    font-size: large;

}

p
{
    font-size: large;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
body{
background-color: yellow;
}
@keyframes example {
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

